.navcolor {
  color: rgb(15, 155, 50) !important;
}
.navbg {
  background-color: rgb(127, 196, 173) !important;
}
.txtalign {
  text-align: center;
}
.bradius {
  border-radius: 5px;
  border-color: greenyellow;
}

.sharestyle {
  color: green;
}

.passionstyle {
  color: #eb7d5a;
}
.passionp {
  align-items: center;
  margin-top: 5px;
}
